.signup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.signup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../assets/img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity here */
    z-index: -1; /* Ensures the background stays behind content */
}

.signup .formHolder{
    background: rgba(255, 255, 255, 0.493);
    padding: 15px;
    font-size: larger;
}

.signup input, .signup select{
    background: rgba(255, 255, 255, 0.342);
    &:disabled{
        background: none;
    }
    &::placeholder{
        color : rgba(0, 0, 0, 0.589)
    }
}

.signup button{
        background-color: #b72d23;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
transition: background-color .3s ease;
}

.signup input, .signup label, .signup select{
    margin: 5px;
    padding: 2px;
}
