.signup{
    background: url(../../assets/headBack.jpg) no-repeat fixed;
    background-size: cover;
}

.signup .formHolder{
    background: rgba(255, 255, 255, 0.493);
    padding: 15px;
    font-size: larger;
}

.signup input, .signup select{
    background: rgba(255, 255, 255, 0.342);
    &:disabled{
        background: none;
    }
    &::placeholder{
        color : rgba(0, 0, 0, 0.589)
    }
}

.signup button{
    background: white;
    border: 1px solid black;
    width: fit-content;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.signup input, .signup label, .signup select{
    margin: 5px;
    padding: 2px;
}