.profile .userDetailsCard{
    height: fit-content;
    padding: 15px;
    border-radius: 15px;
}

.profile>div>div>*{
    box-shadow: 0 0 10px black, 0 0 20px black;
    backdrop-filter: blur(100px);
    background: #aaaaaa;
}

.profile hr{
    height: 2px;
    background: black;
    color: black;
    width: 100%;
}

.profile #profileContent{
    height: calc(100vh - 3rem);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

.profile .badgeHolder{
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    &>img{
        width: 8rem;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

.profile .badgeHolder img::before{
    position: absolute;
    z-index: 50;
    content: attr(data-cont);
    height: 100%;
    width: 100%;
    background: black;
}

.profile .eventCountHolder{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
    border: 5px solid black;
    margin: 10px;
}

.profile input{
    padding-left: 10px;
    background: rgba(255, 255, 255, 0.356);
    &:disabled{
        background: none;
    }
}

.profile .profPosts{
    display: flex;
    flex-wrap: wrap;
    &>img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.profile a{
    color: blue;
    text-decoration: underline;
    text-align: right;
}