.privacypolicy {
    font-family: 'Poppins', sans-serif;
    color: #24272C;
    background-color: #ffffff;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.privacypolicy .content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.privacypolicy .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #090909;
    text-align: center;
}

.privacypolicy p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.privacypolicy h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #669BBC;
    margin-top: 20px;
    margin-bottom: 10px;
}

.privacypolicy ul {
    padding-left: 20px;
    list-style: disc;
}

.privacypolicy ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}