.login{
    height: 100vh;
    width: 100vw;
    background: url(../../assets/headBack.jpg) no-repeat;
    position: fixed;
    background-size: cover;

}

.login form{
    padding: 20px;
}

.formContainer{
    backdrop-filter: blur(40px);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px white, 0 0 20px white;
    color: white;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        background: linear-gradient(to bottom right,#780000,  #c1121f);
        /* background: linear-gradient(to right, transparent, black); */
        width: 50%;
        height: 100%;
        z-index: 9;
    }
}

.login input{
    border: 1px solid #669bbc;
    background: #fdf0d5;
    color: #000000;
    border-radius: 10px;
    @apply m-1 p-2
}

.login form button{
    color: #fdf0d5;
    border-radius: 10px;
    padding: 6px;
    width: 60%;
    transition: .2s;
    &:hover{
        transform: translateY(-10px);
        transform: scale(1.12);
    }
    @apply font-semibold
}

.login span{
    @apply relative
}

.login h1{
    @apply text-3xl font-bold
}

.login #loginFooter{
    color: #0371ac;
    transition: .2s;
    :hover{
        color: skyblue;
    }
}

.login label{
    cursor: pointer;
}

.login .signupBtn{
    display: flex;
    gap: .5rem;
    font-size: smaller;
    &>img{
        width: 1.5rem;
        margin-top: 3px;
    }
}