.skilldev {
  height: 100vh;
  width: 100vw;
  background: white;
}

.skilldev .button-group {
  display: flex;
  gap: 1rem;
}

.skilldev .button {
  background-color: #f2f2f2;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.skilldev .button:hover {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}

.skilldev .button.active {
  background-color: #007BFF;
  color: white;
  border-color: #007BFF;
}

.skilldev .search-bar {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.skilldev .search-input {
  width: 300px;
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ddd;
  outline: none;
  box-shadow: none;
}

.skilldev .search-bar .search-input:focus {
  border-color: #007BFF;
}

.skilldev .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.5rem;
}

.skilldev .status-filter {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 20px;
}

.skilldev .status-label {
  font-size: 1.1rem;
  font-weight: bold;
}

.skilldev .status-label input {
  margin-right: 8px;
}

.skilldev .eventBox {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.skilldev .eventBox .event {
  background: white;
  color: black;
  border: 2px solid red;
  padding: 1rem;
  border-radius: 10px;
  max-width: calc(50% - 10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skilldev .eventBox .event a {
  padding: 10px;
  background: red;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px black, 0 0 20px black;
  transition: 0.2s;
}

.skilldev .eventBox .event a:hover {
  background: black;
  color: white;
  transform: scale(1.05);
}

.skilldev .eventHolder {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 1rem;
  border-radius: 1rem;
  max-height: calc(100vh - 190px);
  overflow-y: scroll;
}

.skilldev .eventHolder::-webkit-scrollbar {
  display: none;
}

/* Adding styles for the dropdown */
.skilldev .dropdown {
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ddd;
  outline: none;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s;
}

.skilldev .dropdown:focus {
  border-color: #007BFF;
}
